Source: livechart2
Section: libs
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               libgee-0.8-dev,
               libglib2.0-dev (>= 2.50),
               libgtk-4-dev (>= 4.12.0),
               valac,
               meson,
               xvfb
Standards-Version: 4.5.0
Vcs-Git: https://github.com/elementary/live-chart.git
Vcs-Browser: https://github.com/elementary/live-chart
Homepage: https://github.com/elementary/live-chart

Package: liblivechart2
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: real-time charting library
 Live Chart is a real-time charting library for GTK4 and Vala, based on Cairo.
 .
 This package contains the shared library.

Package: liblivechart-2-dev
Section: libdevel
Architecture: any
Depends: libgee-0.8-dev,
         libglib2.0-dev (>= 2.50),
         libgtk-4-dev (>= 4.12.0),
         liblivechart2 (= ${binary:Version}),
         ${misc:Depends},
Description: real-time charting library
 Live Chart is a real-time charting library for GTK4 and Vala, based on Cairo.
 .
 This package contains the static library and header files.
